/*Variables */
:root {
  --bg-color: #b8bbbb;
  --tittle-color: #000000;
  --text-color: #fff;
  --navbar-color: #111111;
  --slogan-color: #c4c3c3;
  --slogan-text-color: #000000;
  --button-color: #e4e4e4;
  --button-color-text: #000000;
  --slider-color: #1a1a1b;
  --card-color: #d4d4d4;
  --font: @import
    url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}
/*General */

* {
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
}
.header {
  margin: 0 auto;
  overflow: hidden;
}
.container {
  margin: 0 auto;
  overflow: hidden;
}

.titulo {
  padding-bottom: 10px;
  color: var(--tittle-color);
  letter-spacing: 6px;
  font-size: 60px;
  text-align: center;
  margin-top: 100px;
}

.fixed-button {
  width: 100px;
  height: 100px;
  position: fixed;
  background-color: var(--button-color-text);
  border-radius: 50%;
  z-index: 2;
  top: 80%;
  display: flex;
  left: 90%;
}

.fixed-button img {
  width: 70%;
  border-radius: 50%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  animation: arrow 1s infinite linear;
}

@keyframes arrow {
  50% {
    margin-top: 10px;
  }
}

/*Navbar*/
.hero {
  background-size: cover;
  min-height: 500px;
  color: var(--text-color);
}

.nav {
  --state-close: scale(0);
  --state-hamburguer: scale(1);
  --state-menu: translate(-100%);
  background-color: var(--navbar-color);
  display: grid;
  width: 100%;
  padding: 20px 50px;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(2, max-content);
}

.nav:target {
  --state-close: scale(1);
  --state-hamburguer: scale(0);
  --state-menu: translate(0);
}
.nav__logo {
  font-size: 1.5rem;
  z-index: 2;
  position: absolute;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    #c4a90f 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
}
.nav__logo a {
  color: transparent;
}
.nav__hamburguer,
.nav__close {
  cursor: pointer;
  grid-column: -2/-1;
  grid-row: 1/2;
  transition: 0.4s transform;
  z-index: 3;
}
.nav__hamburguer {
  transform: var(--state-hamburguer);
}
.nav__close {
  transform: var(--state-close);
}
.nav__icon {
  width: 40px;
}

.nav__links {
  list-style: none;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  display: grid;
  align-content: center;
  gap: 2em;
  padding-left: 5%;
  z-index: 3;
  transform: var(--state-menu);
  transition: 0.3s transform;
}

.nav__link {
  text-decoration: none;
  color: #fff;
  border-bottom: 3px solid transparent;
  font-size: 2.2rem;
  letter-spacing: 2px;
  transition: 0.3s all;
}
.nav__link:hover {
  border-bottom: 3px solid var(--text-color);
  transition: 0.3s all;
}
/*Slider*/
.border {
  width: 100%;
  height: 100%;
  background-color: var(--slider-color);
}

.contenedor {
  width: 100%;
  border-radius: 20px;
}

.slider-contenedor {
  width: 100%;
  border-radius: 20px;
  display: flex;
  cursor: pointer;
}

.contenido-slider {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
}

.contenido-slider > img {
  object-fit: cover;
  width: 800px;
  height: 70%;
  border: none;
}

.contenido-slider > div {
  width: 40%;
  padding: 10px;
}

.contenido-slider h2 {
  font-weight: 300;
  text-align: justify;
  line-height: 30px;
}

.contenido-slider a {
  color: var(--button-color-text);
  background: var(--button-color);
  font-weight: 600;
  width: 150px;
  display: block;
  padding: 15px 0;
  text-align: center;
  border-radius: 3px;
  margin-top: 20px;
  text-decoration: none;
}
/*Servicios*/

main .sections {
  margin-top: 100px;
  padding: 20px 0;
  max-width: 1800px;
  width: 90%;
  padding: 30px 0 60px 0;
}

.sections {
  width: 100%;
  margin: auto;
  width: 1200px;
}
.sections h2 {
  margin: auto;
}

.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
}

.card {
  width: calc(25% - 5px);
  background-color: var(--card-color);
  color: var(--button-color-text);
  padding: 40px 10px;
  text-align: center;
  height: 250px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.021);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box img {
  font-size: 2rem;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 1);
  padding: 15px;
}
.box h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 1.5rem;
}

/*Ours*/
.ours {
  background-color: var(--card-color);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.021);
  width: 90%;
  margin: 100px auto;
  border-radius: 20px;
  display: flex;
  padding: 10px;
}

.ours__container {
  min-height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
}
.ours__text {
  width: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.ours__text h3 {
  margin-bottom: 20px;
}
.ours__img {
  width: 40%;
}
.ours__img img {
  width: 100%;
}

/*Contact us*/
.contact__us {
  position: relative;
  width: 100%;
  padding: 40px 100px;
}

.form {
  grid-area: form;
}

.info {
  grid-area: info;
}
.map {
  grid-area: map;
}
.contact {
  padding: 40px;
  background-color: var(--card-color);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.021);
}
.contact h3 {
  color: var(--button-color-text);
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 40px;
}
.contact__box {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 3fr 4fr;
  grid-template-areas: "form info" "form map";
  grid-gap: 20px;
}
.form__box {
  position: relative;
  width: 100%;
}
.form__box .row50 {
  display: flex;
  gap: 20px;
}
.input__box {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}
.form__box .row100 .input__box {
  width: 100%;
}

.input__box span {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 600;
  color: var(--button-color-text);
}
.input__box input {
  padding: 10px;
  font-size: 1.1rem;
  outline: none;
  background-color: var(--card-color);
  border: 1px solid #333;
}
.input__box textarea {
  padding: 10px;
  font-size: 1.1rem;
  outline: none;
  background-color: var(--card-color);
  border: 1px solid #333;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
}

.input__box input[type="submit"] {
  cursor: pointer;
  background-color: var(--slider-color);
  color: var(--button-color);
  border: none;
  font-size: 1.1rem;
  max-width: 200px;
  font-weight: 500;
  padding: 14px 15px;
}
.info {
  background-color: var(--slider-color);
}
.info h3 {
  color: var(--button-color);
}

.info .info__box div {
  color: var(--card-color);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info .info__box div span {
  min-width: 30px;
  height: 30px;
  background-color: var(--bg-color);
  color: var(--button-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 50%;
  margin-right: 15px;
}

.info .info__box div p {
  color: var(--button-color);
  font-size: 1.1rem;
}
.info .info__box div a {
  color: var(--button-color);
  text-decoration: none;
  font-size: 1.1rem;
}

.sci {
  margin-top: 40px;
  display: flex;
}
.sci li {
  list-style: none;
  margin-right: 15px;
}

.sci li a {
  color: var(--button-color);
  display: block;
  width: 40px;
  height: 40px;
}
.sci li a:hover {
  transform: 0.3s all;
  opacity: 0.7;
}
.sci li a img {
  width: 100%;
}

.map iframe {
  width: 100%;
  height: 100%;
}
/*Footer*/

footer {
  background-color: var(--slider-color);
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.contenedor-footer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--bg-color);
}

.contenedor-foo {
  text-align: center;
}

.contenedor-foo h4 {
  font-size: 1.2rem;
  color: var(--button-color);
  border-bottom: 2px solid var(--bg-color);
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.contenedor-foo p {
  font-size: 1rem;
  color: var(--button-color);
}

.titulo-final {
  text-align: center;
  font-size: 25px;
  margin: 20px 0 0 0;
  color: var(--bg-color);
}
/*------*/

@media (max-width: 991px) {
  .content {
    margin-top: 0px;
  }
  .one {
    margin-top: 100px;
  }
  .fixed-button {
    left: 78%;
    width: 60px;
    height: 60px;
  }
  .ours {
    width: 100%;
  }
  .ours__container {
    padding: 20px;
    flex-direction: column-reverse;
  }
  .ours__text {
    width: 100%;
    text-align: justify;
    padding: 20px;
  }
  .ours__img {
    width: 100%;
  }
  .ours__img img {
    width: 100%;
  }
  .contact__us {
    margin: auto;
    padding: 0px;
  }
  .contact__box {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "form" "info" "map";
  }
  .map {
    min-height: 300px;
  }
  .form__box .row50 {
    display: flex;
    gap: 0;
    flex-direction: column;
  }
  .input__box {
    width: 100%;
  }

  .contenedor-footer {
    flex-direction: column;
    border: none;
  }

  .contenedor-foo {
    margin-bottom: 20px;
    text-align: center;
  }

  .contenedor-foo h4 {
    font-size: 1rem;
    border: none;
  }

  .contenedor-foo p {
    color: var(--button-color);
    border-bottom: 1px solid var(--bg-color);
    padding-bottom: 20px;
    font-size: 0.8rem;
  }

  .titulo-final {
    font-size: 1rem;
  }
}
@media (min-width: 900px) {
  .nav {
    --state-close: scale(0);
    --state-hamburguer: scale(0);
    --state-menu: translate(0);
    padding: 20px 100px;
  }

  .nav:target {
    --state-close: scale(0);
  }

  .nav__links {
    list-style: none;
    background-color: unset;
    position: unset;
    padding: 0;
    gap: 2em;
    grid-auto-flow: column;
    transform: unset;
    grid-column: -2/-1;
    grid-row: 1/2;
  }
  .nav__logo {
    font-size: 2.5rem;
  }
  .nav__link {
    font-size: 1rem;
    initial-letter: none;
  }
}
@media screen and (max-width: 900px) {
  .contenedor {
    height: auto;
  }
  .contenido-slider > img {
    width: 95%;
  }
  .content {
    width: 100%;
    flex-direction: column;
  }
  .card {
    margin-bottom: 40px;
    width: 100%;
  }
  .contenido-slider h2 {
    font-size: 1rem;
  }
  .titulo {
    font-size: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .contenido-slider {
    flex-direction: column-reverse;
  }

  .contenido-slider > div {
    width: 80%;
  }
}
